<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @record.subject %>
</p>

<p>
  <strong>Point:</strong>
  <%= @record.point %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
